version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    reviewers:
      - louismaximepiton
    labels:
      - dependencies
    schedule:
      interval: monthly
    groups:
      github-actions-deps:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/"
    reviewers:
      - louismaximepiton
    labels:
      - dependencies
    schedule:
      interval: monthly
    versioning-strategy: increase
    rebase-strategy: disabled
    groups:
      storybook-deps:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/test/angular"
    reviewers:
      - louismaximepiton
    labels:
      - dependencies
    schedule:
      interval: monthly
    versioning-strategy: increase
    groups:
      angular-all-deps:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/src/iotMapManager"
    reviewers:
      - louismaximepiton
    labels:
      - dependencies
    schedule:
      interval: monthly
    versioning-strategy: increase
